@{
    ViewBag.Title = "Role";
}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom px-4 py-3">
        <button class="btn btn-primary btn-sm float-right" id="addRole">
            <i class="fas fa-plus"></i> Add Role
        </button>
    </div>
    <div class="card-body px-4 py-3">
        <div class="table-responsive">
            <table id="roleTable" class="table table-hover align-middle w-100">
                <thead class="text-dark">
                    <tr>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="roleModal" aria-modal="true" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content border-0 shadow-sm">
            <div class="modal-header bg-white border-bottom px-4 py-3">
                <h5 class="modal-title text-dark font-weight-semibold">Role Details</h5>
                <button type="button" id="close-role" class="close text-dark" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body px-4 py-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Role <span class="text-danger">*</span></label>
                        <input type="text" id="txtRole" class="form-control" placeholder="Enter Role">
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top bg-light px-4 py-3 d-flex justify-content-end">
                <button type="button" id="cancel-role" class="btn btn-outline-secondary px-4">
                    Cancel
                </button>
                <button type="button" id="save-role" class="btn btn-primary px-4">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
       const AppUrls = {
            getRole: '@Url.Action("GetRole", "Role", new { area = "User" })',
            addRole: '@Url.Action("Create", "Role", new { area = "User" })',
            editRole: '@Url.Action("Edit", "Role", new { area = "User" })',
            deleteRole: '@Url.Action("Delete", "Role", new { area = "User" })'
        };

    </script>

    <script src="~/Scripts/User/role.js"></script>
}