<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["PageHeader"]</h1>
            </div>
            <div class="col-sm-6">
                @Html.Partial("_Breadcrumbs")
            </div>
        </div>
    </div>
</div>
