@{
    ViewBag.Title = "Under Construction";
}

<div class="card border-0 shadow-sm">
    <div class="card-body px-4 py-4 text-center">

        <div class="mb-3 text-warning fs-2">
            <i class="fas fa-hard-hat"></i>
            <i class="fas fa-cog fa-spin mx-2"></i>
            <i class="fas fa-wrench"></i>
        </div>

        <h2 class="h4 fw-bold">This page is under construction!</h2>

        <p class="mt-3 fw-semibold">
            We're working hard to finish the development of this page.<br>
            Please check back again soon!
        </p>

    </div>
</div>
