@{
    ViewBag.Title = "Testing Site";
}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom px-4 py-3">
        <button class="btn btn-primary btn-sm float-right" id="addTestingSite">
            <i class="fas fa-plus"></i> Add Testing Site
        </button>
    </div>
    <div class="card-body px-4 py-3">
        <div class="table-responsive">
            <table id="testingSiteTable" class="table table-hover align-middle w-100">
                <thead class="text-dark">
                    <tr>
                        <th>Testing Site</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="testingSiteModal" aria-modal="true" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content border-0 shadow-sm">
            <div class="modal-header bg-white border-bottom px-4 py-3">
                <h5 class="modal-title text-dark font-weight-semibold">Testing Site Details</h5>
                <button type="button" id="close-testingSite" class="close text-dark" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body px-4 py-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Testing Site <span class="text-danger">*</span></label>
                        <input type="text" id="txtTestingSite" class="form-control" placeholder="Enter Testing Site">
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top bg-light px-4 py-3 d-flex justify-content-end">
                <button type="button" id="cancel-testingSite" class="btn btn-outline-secondary px-4">
                    Cancel
                </button>
                <button type="button" id="save-testingSite" class="btn btn-primary px-4">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
       const AppUrls = {
            getSite: '@Url.Action("GetSite", "TestingSite", new { area = "Maintenance" })',
            addSite: '@Url.Action("Create", "TestingSite", new { area = "Maintenance" })',
            editSite: '@Url.Action("Edit", "TestingSite", new { area = "Maintenance" })',
            deleteSite: '@Url.Action("Delete", "TestingSite", new { area = "Maintenance" })'
        };

    </script>

    <script src="~/Scripts/Maintenance/testingSite.js"></script>
}